.env
.env.*
!.env.example

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
.venv-donotuse-run/

*.db
*.sqlite
*.sqlite3

StudentDashboard/app/static/uploads/lms/*

.vercel/
.DS_Store
